
/* Configurações globais */

body{
    background-color: #17171a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


body,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* navbar header */

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3D3C42;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
    background-color:#3D3C42;
}

#menu a {
  display: block;
  padding: 0.5rem;
  color: #fff;
}

#btn-mobile {
  display: none;
}

/* Carrocel */




.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: rgb(218, 0, 247);
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}
.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}


/* Medias Querie */

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: #fff;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .quem-somos{
      width: 400px;
  }
}

/* Seção Quem somos */

.quem-somos{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.card{
    width: 300px;
    /* height: 260px; */
   text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
    background-color: #3D3C42;
    margin-bottom: 20px;
}

.card:hover{

    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 14%, rgba(52,51,51,1) 86%);


}

.conteudo-destaque{
    width: 84%;
    padding: 15px;
    color: #fff;
}

.conteudo-destaque h1{
color: rgb(231, 14, 202);
}

.conteudo-destaque p{
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
}

.card h2{
    color: rgb(255, 0, 242);
}
.card p{
    color: #fff;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 5px outset blueviolet;
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}

.btn:hover{
    background-color: blueviolet;
    color: white;
}

.btn a {
    text-decoration: none;
}
.conteudo-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contato{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    background-image: url("../img/fundo-contato.png");
    background-size: 700px;
    background-repeat: repeat-x;
    
}

.conteudo-destaque form{
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 44, 44);
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
}


form input{
    height: 50px;
}
